{% set page_title = 'GIRO - Acompanhamento' %}
{% extends "_layouts/default.njk" %}

{% block body %}
<main>
        <!-- Header-->
        <section  class="py-5" >
          <div class="container px-5 px-lg-5 mt-5">
            <div class="row gx-5 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="produtos">
            </div>
          </div>
        </section>
</main>
{% endblock %}
